<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>SCGJ</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin.css}"  rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-color" id="page-top">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="content-wrapper">
    <div class="container-fluid" layout:fragment="content">
    </div>
    <footer th:replace="partials/footer :: footer">
    </footer>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
<script>
    $(document).ready(function(){
        $('.navbar-nav .nav-item').mouseover(function(){
            $(this).addClass('active');
        });
        $('.navbar-nav .nav-item').mouseout(function(){
            $(this).removeClass('active');
        });
    });
</script>
</html>